@font-face {
    font-family: "PercentFont";
    src: url("/fonts/Soria-Bold.otf") format('OpenType');
}

html, body{
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    background-color: black;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(13, 72px);
    width: 100%;
    padding: 20px 100px;
    gap: 2px;
}

#wrapper2 {
    display: grid;
    grid-template-columns: repeat(5, 72px);
    width: 100%;
    padding: 20px 100px;
    gap: 2px;
}

.box {
    position: relative;
}

.char {
    position: relative;
    width: 72px;
    height: 56px;
    border: 1px solid black;
    background-color: lightblue;
}

.filter {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
}

.char input {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 25px;
    background: transparent;
    border: none;
    font-family: 'PercentFont';
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    text-shadow: 3px 3px 0px #444;
    text-align: center;
    font-size: 2em;
    z-index: 100;
}

#header {
    height: 50px;
    background-color: lightblue;
}

#header input {
	clip-path: polygon(
        5% 0,
        95% 0,
        100% 100%,
        0 100%
    )
}

#header input{
    width: 30%;
    height: 51px;
    margin-left: 200px;
    padding: 2px 45px;
    background-color: black;
    font-weight: bold;
    border: none;
    color: white;
    font-size: 2em;
}

#header input:focus {
    outline: none;
}
