@font-face {
    font-family: "PercentFont";
    src: url("/fonts/Soria-Bold.otf") format('OpenType');
}

html, body{
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    /*background-image: url("/img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: black;
}

#wrapper {
    display: flex;
    width: 100%;
    padding: 5px 100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content:space-between;
    gap: 2px;
}

.char {
    display: flex;
    width: 96px;
    height: 96px;
    border: 1px solid black;
}

.char input {
    width: 100%;
    height: 40px;
    align-self: flex-end;
    background: transparent;
    border: none;
    font-family: 'PercentFont';
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    text-shadow: 3px 3px 0px #444;
    text-align: center;
    font-size: 2em;
}

#header {
    height: 50px;
    /* background: rgb(153,0,0);
    background: linear-gradient(356deg, rgba(153,0,0,1) 37%, rgba(255,204,51,1) 45%, rgba(204,204,255,1) 68%); */
}

#header input{
    width: 30%;
    height: 36px;
    margin-left: 540px;
    margin-top: 7px;
    padding: 2px 15px;
    background-color: #ffcc00;
    font-weight: bold;
}
