@font-face {
    font-family: "PercentFont";
    src: url("/fonts/Soria-Bold.otf") format('OpenType');
}

html, body{
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    background-color: black;
}

/* HEADER */

#header {
    height: 50px;
    background-color: lightblue;
}

#header input{
    width: 30%;
    height: 51px;
    margin-left: 200px;
    padding: 2px 45px;
    background-color: black;
    font-weight: bold;
    border: none;
    color: white;
    font-size: 2em;
    clip-path: polygon(
        5% 0,
        95% 0,
        100% 100%,
        0 100%
    )
}

#header input:focus {
    outline: none;
}

/* BODY */

#container {
    width: 100%;
    padding: 20px 100px;
}

/* Legend */

#legend-container {
    float: right;
    width: 25%;
    height: 100%;
}

h2 {
    color: white;
    font-family: "PercentFont";
    font-size: 2em;
    margin-bottom: 15px;
}

#legend-box {
    display: grid;
    grid-template-columns: 72px auto;
    
    background-color: transparent;
    text-align: center;
}

#legend-box input {
    width: 90%;
    height: 80%;
    padding-top: 20px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid grey;
}


#legend-box input:focus {
    outline: none;
}

/* CSS */

#wrapper {
    display: grid;
    grid-template-columns: repeat(13, 72px);
    width: 75%;
    gap: 2px;
}

#wrapper2 {
    display: grid;
    grid-template-columns: repeat(5, 72px);
    width: 75%;
    margin-top: 40px;
    gap: 2px;
}

.box {
    position: relative;
}

.char {
    position: relative;
    width: 72px;
    height: 56px;
    border: 1px solid black;
    background-color: lightblue;
}

.filter {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
}

.char input {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 25px;
    background: transparent;
    border: none;
    font-family: 'PercentFont';
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    text-shadow: 3px 3px 0px #444;
    text-align: center;
    font-size: 2em;
    z-index: 100;
}
